<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/newforgotpassword" method="post">
<h1>Forgot password</h1>
<label>Enter New Password:</label><br /><br />
      <input type="text" name="newpassword" class="form" required /><br /><br />
      <label>Confirm New Password:</label><br /><br />
      <input type="password" name="newpassword" class="form" required /><br /><br />
      <input type="submit" name="submit" value="ChangePassword" ></input> 
      
</form>

</body>
</html>